---

# Set apt in Ubuntu

- name: Install unattended-upgrades package
  apt:
    name: unattended-upgrades
    state: latest
    update_cache: yes
    cache_valid_time: 3600
  become: true

- name: Turn on updates and backports repositories
  replace:
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace }}"
  become: yes
  with_items:
    - { regexp: '//\s"\${distro_id}:\${distro_codename}-updates";', replace: '\t"${distro_id}:${distro_codename}-updates";' }
    - { regexp: '//\s"\${distro_id}:\${distro_codename}-backports";', replace: '\t"${distro_id}:${distro_codename}-backports";' }

- name: Change settings for unattended-upgrades
  replace:
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace }}"
  become: yes
  with_items:
    - { regexp: '//Unattended-Upgrade::MinimalSteps "true";', replace: 'Unattended-Upgrade::MinimalSteps "true";' }
    - { regexp: '//Unattended-Upgrade::Remove-Unused-Dependencies "false";', replace: 'Unattended-Upgrade::Remove-Unused-Dependencies "true";'}

- name: Setting up /etc/apt/apt.conf.d/20auto-upgrades
  template:
    src: 20auto-upgrades.j2
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    owner: root
    group: root
    mode: "0644"
    backup: yes
  become: yes
